awscli==1.36.14
awscli-local==0.22.0
boto3==1.35.73
botocore==1.35.73
colorama==0.4.6
docutils==0.16
jmespath==1.0.1
localstack-client==2.7
mypy==1.13.0
mypy-extensions==1.0.0
pyasn1==0.6.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rsa==4.7.2
s3transfer==0.10.4
six==1.16.0
typing_extensions==4.12.2
urllib3==2.2.3
